AWSTemplateFormatVersion: '2010-09-09'
Description: ''
Resources:
  ApiTierLaunchConfiguration:
    Properties:
      ImageId: !Ref ApiTierAmiIdParm
      KeyName: !Ref SshKeyPairNameParm
      InstanceType: !Ref ApiTierInstanceTypeParm
      IamInstanceProfile:
        Fn::ImportValue: !Sub "${EntitiesStackNameParm}-AppServerInstanceProfileNameOutput"
      SecurityGroups:
        - Fn::ImportValue: !Sub "${NetworksStackNameParm}-AppServerSecurityGroupIdOutput"
      UserData:
        Fn::Base64: !Sub |
           #!/bin/bash -xe
           aws s3 cp s3://${ReleaseArtifactsBucketParm}/${ReleaseWarFileKeyParm} /opt/jetty/webapps/${WarFileNameParm}
           service jetty start
    Type: AWS::AutoScaling::LaunchConfiguration
  CustomerAppLaunchConfiguration:
    Properties:
      ImageId: !Ref CustomerAppAmiIdParm
      KeyName: !Ref SshKeyPairNameParm
      InstanceType: !Ref CustomerAppInstanceTypeParm
      IamInstanceProfile:
        Fn::ImportValue: !Sub "${EntitiesStackNameParm}-AppServerInstanceProfileNameOutput"
      SecurityGroups:
        - Fn::ImportValue: !Sub "${NetworksStackNameParm}-AppServerSecurityGroupIdOutput"
      UserData:
        Fn::Base64: !Sub |
           #!/bin/bash -xe
           aws s3 cp s3://${ReleaseArtifactsBucketParm}/${ReleaseWarFileKeyParm} /opt/jetty/webapps/${WarFileNameParm}
           service jetty start
    Type: AWS::AutoScaling::LaunchConfiguration



Parameters:
  EnvironmentParm:
    Type: String
  ApiTierInstanceTypeParm:
    Type: String
  ApiTierAmiIdParm:
    Type: AWS::EC2::Image::Id
  CustomerAppInstanceTypeParm:
    Type: String
  CustomerAppAmiIdParm:
    Type: AWS::EC2::Image::Id
  EntitiesStackNameParm:
    Type: String
  SshKeyPairNameParm:
    Type: AWS::EC2::KeyPair::KeyName
  NetworksStackNameParm:
    Type: String
  ReleaseWarFileKeyParm:
    Type: String
  ReleaseArtifactsBucketParm:
    Type: String
  WarFileNameParm:
    Type: String


Outputs:
  ApiTierLaunchConfigurationOutput:
    Export:
      Name:
        Fn::Sub: ${AWS::StackName}-ApiTierLaunchConfigurationOutput
    Value:
      Ref: ApiTierLaunchConfiguration
  CustomerAppLaunchConfigurationOutput:
    Export:
      Name:
        Fn::Sub: ${AWS::StackName}-CustomerAppLaunchConfigurationOutput
    Value:
      Ref: CustomerAppLaunchConfiguration
